{% extends "layout.html" %}

{% block content %}
<div class="container">
  <h4>Daily Release Count</h4>
  <form action="{{ url_for('change_customer_report_date') }}" class="form-inline" method="POST">
    <label>Filter By Date:</label>
    <input type="date" class="form-control ml-2" name="ReleaseDate" required="1" value="{{dateString}}">
    <button class="btn btn-sm btn-secondary ml-2" type="submit">Apply Filter</button>
  </form>
    <table class="table table-striped mt-4">
      <tr>
        <th>Customer Name</th>
        <th>Total Count</th>
      </tr>
      {% for total in customerTotals %}
        <tr>
          <td>{{total.Customer}}</td>
          <td>{{total.Total}}</td>
        </tr>
      {% endfor %}
    </table>
</div>
{% endblock content %}
